# Python junk
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/

# Testing cache
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/

# OS junk
.DS_Store
Thumbs.db

# Project outputs
*.png
!docs/img/*.png
*.csv
*.dat

# Ignore generated CSVs
docs/*.csv